[submodule "hokieprivacy/docker-hugo"]
    path = hokieprivacy/docker-hugo
    url = https://github.com/publysher/docker-hugo
[submodule "hokieprivacy/docker-hugo/site"]
    path = hokieprivacy/docker-hugo/site
    url = gitolite@sczi.vtluug.org:hokieprivacy
