version: '3'

services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
  cap_add:
    - NET_ADMIN
  ports:
    - "80:80"
    - "443:443"
    - "443:443/udp"
  volumes:
    - $PWD/conf:/etc/caddy
    - $PWD/site:/srv
    - caddy_data:/data
    - caddy_config:/config

networks:
  default:
    external:
      name: vtluug-network

volumes:
  caddy_data:
  caddy_config:
